@font-face {
  font-family: 'Nunito';
  src: url("/assets/fonts/Nunito-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url("/assets/fonts/Nunito-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url("/assets/fonts/Nunito-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url("/assets/fonts/Nunito-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url("/assets/fonts/Nunito-Black.ttf");
  font-weight: 400;
  font-style: normal;
}
