<ion-content [fullscreen]="true">
  <div id="app-title-container">
    <ion-label>
      AnimeInfo
    </ion-label>
  </div>
  <div class="searchbar-container">
    <ion-searchbar placeholder="Buscar..."></ion-searchbar>
  </div>
  <div class="container">
    <ion-label class="title-container">
      <span style="color: red">▶ </span><span class="title">Nuevos animes</span>
    </ion-label>
  </div>
  <ion-slides>

    <ion-slide *ngFor="let anime of animes">
      <div class="slide">
        <img [src]="'https://animeblix.com' + anime.image_url" class="anime-cover-img"/>
        <div class="anime-description-container">
          <h2 style="color: #bf85ff">{{ anime.title }}</h2>
          <p>{{ anime.description.length > 200 ? anime.description.slice(0, 200) + '...' : anime.description }}</p>
        </div>
      </div>
    </ion-slide>


  </ion-slides>
</ion-content>

<style>
  ion-content {
    --background: #1d202d;
  }
  ion-searchbar {
    --background: transparent;
    --color: white;
    --icon-color: #bf85ff;
    --placeholder-color: #bf85ff;
    --box-shadow: 0px 0px 5px 0px rgba(191,133,255,0.4);
    font-family: Nunito, serif;
    font-weight: 400 !important;
  }
</style>
